<h3>All <span class='tag text-uppercase btn-secondary btn-sm'>Upsell 1</span></h3>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Test Type</th>
            <th scope="col">In Development</th>
            <th scope="col">Ready</th>
            <th scope="col">Live</th>
            <th scope="col">Completed</th>
            <th scope="col">Date of Last Test</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Headlines</th>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
        <tr>
            <th scope="row">Leads</th>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
        <tr>
            <th scope="row">Prices</th>
            <td>0</td>
            <td>0</td>
            <!-- leave empty for now results -->
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
        <tr>
            <th scope="row">Cart Page</th>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
        <tr>
            <th scope="row">Offer/Bonuses</th>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
        <tr>
            <th scope="row">Exit Pops</th>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
    </tbody>
</table>