<!-- swiper -->
<div class='swiper page-build'>
  <div class='swiper-title'>Project Request | <b>Page Build</b></div>
  <div class='swiper-wrapper'>
    <div class='swiper-slide'>
      <div class='swiper-form'>
        <div><span class='step'></span></div>
        <div class='fieldset'>
          <!-- <p class='big color blue b'>Let's get started</p> -->
          <div class='field'>
            <label>
              <p>What's your Vendor name?</p>
            <input type='text' name='vendor-name' placeholder='E.g. Back Pain Breakthrough'>
          </label>
          </div>
          <div class='field'>
            <label>
              <p>What's the name of this Project?</p>
            <input type='text' name='project-name' placeholder='E.g. Text Sales Letter'>
          </label>
          </div>
        </div>
      </div>
    </div>

    <div class='swiper-slide'>
      <div class='swiper-form'>
        <div><span class='step'></span></div>
        <div class='fieldset'>
          <!-- <p class='big color blue b'>Let's get started</p> -->
          <div class='field'>
            <label>
              <p>Please provide all details for this project:</p>
              <textarea name='project-details' style='min-height:300px'></textarea>
            <label>
          </div>
        </div>
      </div>
    </div>

    <div class='swiper-slide'>
      <div class='swiper-form'>
        <div><span class='step'></span></div>
        <div class='fieldset'>
          <p class='big color blue b'>Is this a new account?</p>
          <div class='field'>
            <label class='click'><input type='radio' name='names' value='Yes'> Yes</label>
          </div>
          <div class='field'>
            <label class='click'><input type='radio' name='names' value='No'> No</label>
          </div>
        </div>
      </div>
    </div>

    <!--
    <div class='swiper-slide'>
      <div class='swiper-form'>
        <div><span class='step'>4</span></div>
        <div class='fieldset'>
          <p class='big color blue b'>Are all the images for the build included or are there explanations of what's needed for each image?</p>
          <div class='field'>
            <label class='click'><input type='radio' name='images' value='Yes'> Yes</label>
          </div>
          <div class='field'>
            <label class='click'><input type='radio' name='images' value='No'> No</label>
          </div>
        </div>
      </div>
    </div>

    <div class='swiper-slide'>
      <div class='swiper-form'>
        <div><span class='step'></span></div>
        <div class='fieldset'>
          <p class='big color blue b'>Nice work! Please change the status <b class='color royal'>Review Stage 1</b> to <b  class='color royal'>Copy Team Review</b></p>
          <div class='field'>
            <input class='button bg royal' type='submit' name='done' value='Done'>
          </div>
        </div>
      </div>
    -->
    </div>
  </div>

  <div class='swiper-button-next'></div>
  <div class='swiper-button-prev'></div>
  <div class='swiper-pagination'></div>
</div>

<iframe
  style='width:0;height:0;border:0;opacity:0;visibility:hidden';
  srcdoc="
    <script>
      top.document.title = 'Project Request: Start';
    </script>
  ">
</iframe>
