html,
body {
  height: 100%;
}
body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-bottom: 40px;
  background: #fff;
}
.form-login {
  width: 100%;
  max-width: 330px;
  padding: 40px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 100px 10px rgba(30,59,151,.1);
}
.form-login .checkbox {
  font-weight: 400;
}
.form-login .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-login .form-control:focus {
  z-index: 2;
}
.form-login input,
.form-login button {
  box-shadow: none!important;
}
.form-login input[type="email"] {
  margin-bottom: -1px;
  border-radius: 4px;
}
.form-login input[type="password"] {
  margin-bottom: 10px;
  border-radius: 4px;
}
.form-login .btn-primary {
  background-color: #1f2c56;
  border: 0;
}
.fs-7 {
  font-size: .95rem!important;
}
